@using diploma.Models
@model Lesson

<div id="fullmode" style=" position: fixed;left:0; top:60px; height:100%; width:100%; overflow-y:scroll; display:none"> @{this.GetOutputWriter().Write(File.ReadAllText(Server.MapPath(Model.File)));}
    <div id="btn" class="btn btn-danger" onclick="modeof()" style=" position: fixed;top:95%; left:80%" >Выключить полноэкранный режим</div>
    </div>
<div id="mode">
    <div class="row text-center" style="margin-bottom: 25px;">
        <div class="col-md-2 btn btn-default" onclick="mode()">На весь экран</div>
        <div class="col-md-8 " style="padding:5px; font-size:30px; border:1px solid gray; border-radius: 0px 0px 20px 20px;">@Model.Course.Name <br /> @Model.Name</div>
        @if (Model.Question.Count != 0)
        {
            @Html.ActionLink("Пройти тестовое задание", "TestPass", "CoursePass", new { LessonId = Model.Id }, new { @class = "col-md-2 btn btn-default" });
            
        }
        else
        {
            <button class="col-md-2 btn btn-default" disabled>Пройти тестовое задание</button>
        }

    </div>

    <div style="margin:0px; padding:0px">
        @{this.GetOutputWriter().Write(File.ReadAllText(Server.MapPath(Model.File)));}
    </div>

    @*<div class="row">
            <div class="col-md-6 text-right" style="margin-top:25px;"><div class="btn btn-default"> Предыдущий урок </div> </div>
            <div class="col-md-6 text-left" style="margin-top:25px;"><div class="btn btn-success">Следующий урок</div> </div>
        </div>*@


    <div style=" position: fixed;left: 2vh; top: 60px; padding: 10px;" onclick="fun()">
        <h1 id="menu" style="font-size:2vh; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; width:30vh;" title="@Model.Course.Name">Меню</h1>
        <ol id="lessons" style="display:none; height:80vh; border: 2px solid black; border-radius:2vh; width:30vh;margin:20px; background-color:white">
            @foreach (var lesson in Model.Course.Lessons.OrderBy(p => p.Id))
            {
                <li>
                    @if (Model.Name == lesson.Name)
                    {<strong>@Html.ActionLink(lesson.Name, "Index", new { lessonid = lesson.Id })</strong> }
                else
                {@Html.ActionLink(lesson.Name, "Index", new { lessonid = lesson.Id })}




                </li>
            }
        </ol>
    </div>
      @if (ViewBag.prev != null)
        {
            <a id="prev" href="@Url.Action("Index","CoursePass", new { lessonid= ViewBag.prev.Id})">
                <div style=" position: fixed;left: 5vh; top: 47vh; ">
                    <div class="glyphicon glyphicon-menu-left"></div>
                    Предыдущий урок
                </div>
            </a>
        }
        @if (ViewBag.next != null)
        {
            <a href="@Url.Action("Index","CoursePass", new { lessonid= ViewBag.next.Id})">
                <div style=" position: fixed;right: 5vh; top: 47vh; ">
                    Следующий урок
                    <div class="glyphicon glyphicon-menu-right"></div>
                </div>
            </a>
        }
</div>
<style>
    #menu:hover {
        font-size: 2.2vh !important;
    }
</style>
<script>
    function mode() {

        var footer = document.getElementsByTagName('footer');
        for (var i = 0; i < footer.length; i++)footer[i].style.display = 'none';
        document.getElementById("fullmode").style.display = "inline-block";
        document.getElementById("fullmode").style.height = "100vh";
        document.getElementById("mode").style.display = "none";
    }
    function modeof() {
        document.getElementById("fullmode").style.display = "none";
        document.getElementById("fullmode").style.height = "100vh";
        document.getElementById("mode").style.display = "inline-block";
    }
    function fun() {
        var item = document.getElementById("lessons");
        if (item.style.display == "none") { item.style.display = "inline-block"; document.getElementById("prev").style.display = "none"; } else { item.style.display = "none"; document.getElementById("prev").style.display = "inline-block"; }
    }
</script>